body {
    font-family: Arial, sans-serif;
    background-color: #25173e;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: rgb(46, 49, 49);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.filter-section label {
    margin-right: 5px;
}

.filter-section input, .filter-section select, .filter-section button {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.table-section {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr {
    height: 40px; /* Ajuste a altura conforme necessário */
}

table tbody tr td {
    height: 100%; /* Ocupa a altura completa da linha */
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.action-buttons button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    flex: 1;
    min-width: 100px;
    margin-bottom: 10px;
}

.action-buttons button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    font-style: italic;
    color: #777;
}
