.container {
    width: 100%; /* Largura*/
    height: 455px; /* Altura */
    border: 1px solid #722b2b;; /* Borda da div container */
    padding: 10px; /* Espaçamento interno da div container */
    margin: 0 auto;; /* Centralizar a div container horizontalmente */
    box-sizing: border-box; /* Incluir o padding e a borda na largura e altura */
    border-radius: 1em;
    background-color: #25173e;
  }
  
  /* Estilos para as divs componentes */
  .componente {
    width: 55%; 
    height: 70%; 
    padding:10px;
    border: 1px solid #722b2b; 
    margin: 5px; 
    float: left; /* Alinhar as divs componentes à esquerda */
    box-sizing: border-box; /*borda na largura e altura */
    font-size: 18PX;
    text-align:initial;
    border-radius: 1em;
    overflow-y: auto; /* Adicione um scrollbar se o conteúdo ultrapassar a altura */
    background-color: rgb(46, 49, 49);
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .form-group label {
    width: 150px; /* Defina uma largura fixa para as labels */
    margin-right: 10px;
    margin-bottom: 0; /* Adiciona espaçamento inferior ao rótulo */
    color: linen;
  }
  
  .form-group input {
    flex: 1; /* O input irá ocupar o espaço restante */
    padding: 5px;
    height: 10px;/*altura dos campos*/
    border-radius: 5px;
    background-color: rgb(46, 49, 49);
    color: linen;
  }
  .form-group select {
    color: linen;
    background-color: rgb(46, 49, 49);
    border-radius: 5px;
  
  }
  
  
  
  .componente2 {
    width: 35%; 
    height: 70%; 
    padding:10px;
    border: 1px solid #722b2b; 
    margin: 5px; 
    float: left; /* Alinhar as divs componentes à esquerda */
    box-sizing: border-box; /*borda na largura e altura */
    font-size: 18PX;
    text-align:initial;
    border-radius: 1em;
    background-color: rgb(46, 49, 49);
    color: linen;
  }
  
  .componente3 {
    width: 90%; 
    height: 20%; 
    padding:10px;
    border: 1px solid #722b2b; 
    margin: 5px; 
    float: left; /* Alinhar as divs componentes à esquerda */
    box-sizing: border-box; /*borda na largura e altura */
    font-size: 20PX;
    text-align:initial;
    border-radius: 1em;
    background-color: rgb(46, 49, 49);
  }
  
    .save, .cancel {
      padding: 10px 20px;
      border-radius: 0px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      color: white;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
      background-color: rgb(46, 49, 49);
      margin: 5px;
  }
  